@import url('https://fonts.googleapis.com/css2?family=Text+Me+One&family=Exo+2');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Text Me One', sans-serif;
    background: linear-gradient(180deg, rgba(45,18,99,1) 0%, rgba(79,35,103,1) 100%);
    color: #D2CDF3;
  }
  
  h1 {
    font-family: 'Exo 2', sans-serif;
    color: #EEECFE;
  }
  
  h2 {
    color: #cdc7f8;
  }
  
  h3 {
    color: #A59DE2;
  }
  
  h4 {
    color: #BEB7F2;
  }
}