@font-face {
  font-family: "Text Me One";
  src:local("TextMeOne-Regular"),
  url("./fonts/TextMeOne-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src:local("Raleway-VariableFont_wght"),
  url("./fonts/Raleway-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Exo 2";
  src:local("Exo2-VariableFont_wght"),
  url("./fonts/Exo2-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Text Me One', sans-serif;
  }
  
  h1 {
    font-family: 'Exo 2', sans-serif;
  }
  
  h2 {
    color: #4C2166;
  }
  
  h3 {
    color: #A59DE2;
  }
  
  h4 {
    color: #BEB7F2;
  }

  footer {
    color: #FED5C2;
  }
}

@layer components {
  .projects {
    font-family: 'Text Me One', sans-serif;
    color: #feecee;
  }

  .project {
    font-family: 'Raleway', sans-serif;
    background-color: #feecee;
    color: #664758;
  }
  
  h2.project {
    font-family: 'Exo 2', sans-serif;
    background-color: transparent;
    color: #9D545E;
  }

  .tag {
    color: #feecee;
    background-color: #c46572;
  }

  .wip {
    background-color: #FECCC6;
  }

  .llm-only {
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px); /* old method */
    clip-path: inset(100%);
    white-space: nowrap;
    border: 0;
  }
}